body {
	background:#fff;
	color:#333;
	padding-top: 44px;
  font-family:'Merriweather', serif;
}

a {
	color:#0066b3;
	text-decoration: none;
}

	a:hover {
		text-decoration: none;
		/*border-bottom: 1px dotted #0066b3; anderoy: no need for this*/
	}

p, li {
	line-height:1.667;
}

li {
	/*margin-bottom:1em; anderoy: messing up sidenav spacing*/
}

.breadcrumb li {
	margin-bottom:0;
}

/* Headings .................................................................*/

h1, h2, h3, h4, h5, h6 {
	font-family:Lato, sans-serif;
	font-weight:normal;
}

h1 {
	font-size:3.5em;
}

	h1 a {
		color:#333;
		text-decoration:none;
	}

	h1 a:hover {
		border:0px none;
	}

h2 {
	color:#555;
	font-size:3em;
}

h3, h4, h5 {
	margin-top:0.5em;
}

h3 {
	font-size:2.5em;
}

h4, h5 {
	line-height:1.2;
}

h4 {
	font-size:2em;
  margin-top:1em;
}

h5 {
	font-size:1.5em;
}

h6 {
	font-size:1em;
	text-transform:uppercase;
	font-weight:700;
	letter-spacing:1px;
}

.economic h3,
.economic h4,
.economic h5,
.economic h6 {
	color: #5f4580;
}

.land h3,
.land h4,
.land h5,
.land h6 {
	color: #d9a000;
}

.systems h3,
.systems h4,
.systems h5,
.systems h6 {
	color: #dc7a00;
}

.neighborhood h3,
.neighborhood h4,
.neighborhood h5,
.neighborhood h6 {
	color: #e02c00;
}

.assets h3,
.assets h4,
.assets h5,
.assets h6 {
	color: #004980;
}


/* Table of contents ........................................................*/
#toc ol li {
	font-weight:bold;
	margin-bottom:1.5em;
}

#toc ol ol li {
	font-weight:normal;
	margin-bottom:0.25em;
}

/* Additional CSS from anderoy ================================ */

.box {
  border:5px solid #eee;
  border-radius:10px;
  min-height:100px;
  padding:0px 10px;
}

  .box h1 {
    font-size:24px;
    line-height:1.15;
  }

.jumbotron {
  background: url("../img/bg-dfc.png") no-repeat scroll 100%;
  height: auto;
  vertical-align: middle;
  color: white;
  padding: 42px 0 0 0;
  padding-bottom:0px;
  margin-bottom:30px;
}

  .jumbotron.homepage {
    padding-top:200px;
    background: url("../img/index/back.jpg") no-repeat scroll 100%;
  }

  .jumbotron .nav-tabs {
    margin-bottom: 0;
  }

    @media (max-width: 480px) {
      .jumbotron .nav-tabs > li {
          float:none;
      }
    }


    .jumbotron .nav-tabs a {
      color:#fff;
    }

    .jumbotron .nav-tabs .active a,
    .jumbotron .nav-tabs a:hover {
      color:#000;
    }

.navbar-fixed-top li {
	font-family: Lato, sans-serif;
	font-size: 10pt;
}

.brand {
	font-family: Lato, sans-serif;
	text-transform: uppercase;
}

section {
  padding-top:15px;
	padding-bottom: 15px;
}

/* Missing carousel CSS from Bootstrap
------------------------------------------------------*/
.carousel-indicators {
    list-style: none outside none;
    margin: 0;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 5;
}
.carousel-indicators li {
    background-color: rgba(35, 35, 35, 0.25);
    border-radius: 5px 5px 5px 5px;
    display: block;
    float: left;
    height: 10px;
    margin-left: 5px;
    text-indent: -999px;
    width: 10px;
}
.carousel-indicators .active {
    background-color: #333333;
}


/* Sidenav for Docs
-------------------------------------------------- */

.dfc-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.dfc-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.dfc-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.dfc-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.dfc-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.dfc-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.dfc-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.dfc-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.dfc-sidenav .active .icon-chevron-right,
.dfc-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.dfc-sidenav.affix {
  top: 40px;
}
.dfc-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}




/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  .dfc-container {
    max-width: 970px;
  }
  .dfc-sidenav {
    width: 258px;
  }
  .dfc-sidenav > li > a {
    width: 230px \9; /* Override the previous IE8-9 hack */
  }
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
  /* Unfloat brand */
  body > .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Inline-block quick links for more spacing */
  .quick-links li {
    display: inline-block;
    margin: 5px;
  }

  /* When affixed, space properly */
  .dfc-sidenav {
    top: 0;
    width: 218px;
    margin-top: 30px;
    margin-right: 0;
  }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  /* Widen masthead and social buttons to fill body padding */
  .jumbotron {
    margin-top: -20px; /* Offset bottom margin on .navbar */
  }
  /* Adjust sidenav width */
  .dfc-sidenav {
    width: 166px;
    margin-top: 20px;
  }
  .dfc-sidenav.affix {
    top: 0;
  }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Widen masthead and social buttons to fill body padding */
  .jumbotron {
    padding: 40px 20px;
    margin-top:   -20px; /* Offset bottom margin on .navbar */
    margin-right: -20px;
    margin-left:  -20px;
  }
  .masthead h1 {
    font-size: 90px;
  }
  .masthead p,
  .masthead .btn {
    font-size: 24px;
  }
  .marketing .span4 {
    margin-bottom: 40px;
  }
  .dfc-social {
    margin: 0 -20px;
  }

  /* Space out the show-grid examples */
  .show-grid [class*="span"] {
    margin-bottom: 5px;
  }

  /* Sidenav */
  .dfc-sidenav {
    width: auto;
    margin-bottom: 20px;
  }
  .dfc-sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }

  /* Unfloat the back to top link in footer */
  .footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer p {
    margin-bottom: 9px;
  }
}


  /* Downsize the jumbotrons
  .jumbotron h1 {
    font-size: 45px;
  }
  .jumbotron p,
  .jumbotron .btn {
    font-size: 18px;
  }
  .jumbotron .btn {
    display: block;
    margin: 0 auto;
  }
*/

